.letter{
    font-family: 'Hammersmith One', sans-serif;
}

  label {
      margin: 15px;
      
  }
  
  .card-input-element {
      display: none;
  }
 
  .card-input-element:checked + .card-input {
      padding: 10px;
       box-shadow: 0 0 1px 1px rgb(193, 37, 37);
   }
  
   .title-second{
       font-size: 50px;
   }

   .back-car{
       display: flex;
    background-image:linear-gradient(rgba(0, 0, 0, 0.54) 0%,rgba(0, 0, 0, 0.54) 100%), url("https://www.mitsubishi-motors.mx/content/dam/mitsubishi-motors/images/site-images/cars/eclipse-cross-phev/my21/technology/EP_T11.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: white;
    padding: 10%;
   }

   .text-img{
       font-size: 50px;
       padding-left: 10%;
       padding-right: 10%;
       text-align: center;
   }


   /* ______________ */
   input[type=radio] {
       position: absolute;
       display: none;
   }

   #plan-cards-container input[type="radio"]:checked ~ .plan-card-radio-button {
       background-color: #00A8E1;
   }
   
   input[type=radio]:checked ~ label .plan-card, 
   input[type=radio]:checked ~ label .plan-card-bg {
       background-color: black;
       border-radius: 2%;
   }
   
   

   
   .plan-card {
       border: none;
       width: auto;
       height: auto;
       
       padding: 2px;
       
   }
   
   

   

   input[type=radio]:checked + label .benefit-check:after {
       content: '';
       display: block;
       width: 10px;
       height: 20px;

       border-width: 0 2px 2px 0;
       -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
           -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
               transform: rotate(45deg);
   }

   input[type=radio]:checked + label .not-included-in-plan {
       color: #23acdb;
   }
   
   .plan-card .benefit {
       padding-bottom: 10px;
       line-height: 18px;
       height: 35px;
       text-indent: -32px;
   }


   







